@width: 10px;

html{
  background-image: linear-gradient(to bottom, #c8c8c8, #b3b3b3, #9f9f9f, #8b8b8b, #787878);
}

 body{
   background: repeating-linear-gradient( 76deg, #d8d8d899, #ffffff00 100px );
 }

 #titrePage{
   text-align:center;
   font-family: cursive;

 }
